/* CABECERA */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.user-info {
  text-align: right;
}
.label {
  font-weight: bold;
}

/* KPIS */
.kpis {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  width: 100%;
}

.kpi-card {
  width: 260px;
  height: 120px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
